.navbar {
background-color: rgb(255, 255, 255);
overflow: hidden;
position: fixed;
bottom: 0;
width: 100%;
}

.first{
float: left;
position: sticky;
display: block;
color: #2FB31A;
padding-left: 40px;
}

.second{
float: left;
position: sticky;
display: block;
color: #2FB31A;
padding-left: 90px;
}

.third{
float: left;
position: sticky;
display: block;
color: #2FB31A;
padding-left: 90px;
}
