@import url('http://fonts.cdnfonts.com/css/yinmar');

.navbar {
background-color: rgb(255, 255, 255);
overflow: hidden;
position: fixed;
bottom: 0;
width: 100%;
}

.first{
padding-left: 40px;
}

.second{
margin-left: 90px;
}

.third{
margin-left: 90px;
}

.grey {
    color: darkgrey;
    cursor: not-allowed;
}

.green {
    color: #2FB31A;
    cursor: pointer;
}
